{% extends 'base.html' %}

{% block title%}
Assignment 9
{% endblock %}

{% block tohen %}
    <div style="color: black">
        <!--Search form-->
        <h1> Search  </h1>
        <form action="/assignment9" method="GET">
            <input name="searchinput" type="text">
            <input  type="submit">
        </form>
        {% if searchfound  %}<!-- If a user find one of the users from this list of users-->
            <h4>{{ searchfound.user }}</h4>
            <h4>{{ searchfound.email }}</h4>
        {% elif search %}
            {% for user in search %} <!-- If a user presses submit button-->
                UserName: <h4>{{ user.user }}</h4>
                Email: <h4> {{ user.email }}</h4>
            {%  endfor %}
        {% elif notfound %}<!-- If a user doesn't find-->
            <h4> {{ notfound }}</h4>
        {% endif %}

        <!--Registration form-->
        {% if session.UserName %}
            <h3> Welcome back, {{  session.UserName }}! </h3>
        {% else %}
            <h1> Please Log in!</h1>
            <form action="/assignment9" method="POST">
                UserName: <input name="UserName" type="text">
                Password: <input name="Password" type="password">
                <input  type="submit">
            </form>
        {% endif %}
    </div>
{%  endblock %}