{% extends 'base.html' %}

{% block title%}
Assignment 9
{% endblock %}

{% block tohen %}
    <div style="color: black">
        <!--Registration form-->
        {% if session.UserName %}
            <h3> Welcome back, {{  session.UserName }}! </h3>
            <!--Search form-->
            <h1> Search  </h1>
            <form action="/assignment9" method="GET">
                <input name="searchinput" type="text">
                <input  type="submit">
            </form>
            {% if search %}
                {% for user in Users.values() %}
                    {% for x in user %}
                        {% if search==user[x] %}<!-- If a user find one of the users from this list of users-->
                            {% for i in user %}
                                <h4>{{ i }}: {{ user[i]}}</h4>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% if search == "" %} <!-- If a user presses submit button-->
                <span>
                {% for x in Users.values() %}
                    {% for user in x %}
                        <h4>{{ user }}: {{ x[user]}} </h4>
                    {% endfor %}
                    <br>
                {%  endfor %}
                </span>
            {% endif %}

        {% else %}

            <h1> Please Log in!</h1>
            <form action="/assignment9" method="POST">
                UserName: <input name="UserName" type="text">
                Password: <input name="Password" type="password">
                <input  type="submit">
            </form>
        {% endif %}



    </div>
{%  endblock %}